.nav-bar {
    width: 100%;
    height: 85px;
    user-select: none;
    position: sticky;
    z-index: 2;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--white);
}

.nav-bar-container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
}

.nav-bar-navigation {
    display: flex;
    gap: 25px;
}

.nav-bar-link {
    text-decoration: none;
    font-size: 1rem;
    color: var(--black);
}

.nav-bar-panel {
    width: auto;
    display: flex;
    gap: 15px;
}

.nav-bar-panel img {
    cursor: pointer;
}

.nav-bar-panel-cart {
    width: auto;
    display: flex;
    align-items: flex-start;
}

.nav-bar-cart-number {
    width: 15px;
    height: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 0.75rem;
    background-color: var(--black);
    color: var(--white);
    font-weight: 600;
}